version: 2.1
orbs:
  node: circleci/node@5.0.0
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: cimg/ruby:3.1.0-node
        environment:
        - DATABASE_URL=postgres://ubuntu:@localhost:5432/circle_test

      # Specify service dependencies here if necessary
      # https://circleci.com/docs/2.0/docker-image-tags.json
      - image: cimg/postgres:13.5
        environment:
        - POSTGRES_USER=ubuntu
        - POSTGRES_PASSWORD=totallysecret
    working_directory: ~/repo

    steps:
      - checkout

      - node/install:
          install-yarn: true
          node-version: '16.13'

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v2-dependencies-{{ checksum "Gemfile.lock" }}-{{ checksum "yarn.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v2-dependencies-

      - run:
          name: Install dependencies
          command: |
            gem install bundler
            bundle update --bundler
            bundle install --jobs=4 --retry=3 --path="./vendor/bundle"
            bundle clean --force
            yarn install --check-files

      - save_cache:
          paths:
            - ./vendor/bundle
            - ./node_modules
          key: v2-dependencies-{{ checksum "Gemfile.lock" }}-{{ checksum "yarn.lock" }}

      # Database setup
      - run:
          name: Setup database
          command: |
            bundle exec rails db:schema:load

      # run tests!
      - run:
          name: Run tests
          command: |
            mkdir /tmp/test-results
            bundle exec rake

      - run:
          name: Precompile assets
          command: |
            bundle exec rake assets:precompile

      - run:
          name: Lint code
          command: |
            bundle exec rubocop

      # collect reports
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results
