# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/ruby:2.7.0-node
        environment:
        - DATABASE_URL=postgres://ubuntu:@localhost:5432/circle_test

      # Specify service dependencies here if necessary
      # https://circleci.com/docs/2.0/docker-image-tags.json
      - image: circleci/postgres:latest-ram
        environment:
        - POSTGRES_USER=ubuntu
        - POSTGRES_PASSWORD=totallysecret
    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: "Install specified version of Node.js and npm"
          command: |
            export WANTED_NODE_VERSION=`grep nodejs .tool-versions | cut -d " " -f 2`
            echo $WANTED_NODE_VERSION
            curl -sSL "https://nodejs.org/dist/v${WANTED_NODE_VERSION}/node-v${WANTED_NODE_VERSION}-linux-x64.tar.xz" | sudo tar --strip-components=2 -xJ -C /usr/local/bin/ node-v${WANTED_NODE_VERSION}-linux-x64/bin/node
            curl https://www.npmjs.com/install.sh | sudo bash
            node -v

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Gemfile.lock" }}-{{ checksum "yarn.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Install dependencies
          command: |
            gem install bundler
            bundle update --bundler
            bundle install --jobs=4 --retry=3 --path="./vendor/bundle"
            yarn install --check-files

      - save_cache:
          paths:
            - ./node_modules
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}-{{ checksum "yarn.lock" }}

      # Database setup
      - run:
          name: Setup database
          command: |
            bundle exec rake db:create
            bundle exec rake db:migrate
            bundle exec rails db:environment:set RAILS_ENV=test

      # run tests!
      - run:
          name: Run tests
          command: |
            mkdir /tmp/test-results
            bundle exec rake

      - run:
          name: Precompile assets
          command: |
            bundle exec rake assets:precompile

      - run:
          name: Lint code
          command: |
            bundle exec rubocop

      # collect reports
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results
