# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/ruby:2.6.5-node
        environment:
        - DATABASE_URL=postgres://ubuntu:@localhost:5432/circle_test

      # Specify service dependencies here if necessary
      # https://circleci.com/docs/2.0/docker-image-tags.json
      - image: circleci/postgres:latest-ram
        environment:
        - POSTGRES_USER=ubuntu
    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Gemfile.lock" }}-{{ checksum "yarn.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Install dependencies
          command: |
            gem install bundler
            bundle update --bundler
            bundle install --jobs=4 --retry=3 --path="./vendor/bundle"
            yarn install --check-files

      - save_cache:
          paths:
            - ./node_modules
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}-{{ checksum "yarn.lock" }}

      # Database setup
      - run:
          name: Setup database
          command: |
            rake db:create
            rake db:migrate
            rails db:environment:set RAILS_ENV=test

      # run tests!
      - run:
          name: Run tests
          command: |
            mkdir /tmp/test-results
            rake

      - run:
          name: Precompile assets
          command: |
            rake assets:precompile

      - run:
          name: Lint code
          command: |
            bundle exec rubocop

      # collect reports
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results
