<a
  class="
    flex items-center px-2 py-1.5 text-body rounded-base
    hover:bg-neutral-tertiary hover:text-fg-brand group
    @max-[10rem]:w-10
  "
  href="<%= href %>"
>
  <%= icon if icon? %>

  <% if label? %>
    <span class="flex-1 ms-3 @max-[10rem]:hidden @max-[10rem]:group-hover:block"><%= label %></span>
  <% end %>

  <% if badge? %>
    <%= badge %>
  <% end %>
</a>
